@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --black: #0e0e0e;
        --white: #fefefe;
        --primary: #ee6352;
        --primary-hover: rgba(238, 99, 82, 0.8);
    }

    @font-face {
        font-family: 'PT Sans';
        src:
            url('./assets/fonts/PTSans-Regular.woff2') format('woff2'),
            url('./assets/fonts/PTSans-Regular.woff') format('woff'),
            url('./assets/fonts/PTSans-Regular.ttf') format('truetype');
        font-weight: normal;
        font-style: normal;
        font-display: swap;
    }

    @font-face {
        font-family: 'PT Sans';
        src:
            url('./assets/fonts/PTSans-Bold.woff2') format('woff2'),
            url('./assets/fonts/PTSans-Bold.woff') format('woff'),
            url('./assets/fonts/PTSans-Bold.ttf') format('truetype');
        font-weight: bold;
        font-style: normal;
        font-display: swap;
    }

    @font-face {
        font-family: 'Nunito';
        src:
            url('./assets/fonts/Nunito-Regular.woff2') format('woff2'),
            url('./assets/fonts/Nunito-Regular.woff') format('woff'),
            url('./assets/fonts/Nunito-Regular.ttf') format('truetype');
        font-weight: normal;
        font-style: normal;
        font-display: swap;
    }

    @font-face {
        font-family: 'Nunito';
        src:
            url('./assets/fonts/Nunito-Black.woff2') format('woff2'),
            url('./assets/fonts/Nunito-Black.woff') format('woff'),
            url('./assets/fonts/Nunito-Black.ttf') format('truetype');
        font-weight: 900;
        font-style: normal;
        font-display: swap;
    }
}
